@import '../../../variables';

clr-wizard-title {
    color: $primary-color;
}

.setting-count {
    font-size: 96px;
    color: $gray-font;
}

.setting-count-container {
    min-height: 96px;
    margin: 40px 0 60px;
    color:  $gray-font;
}

.btn-group {
    margin-right: 0;
}