<clr-wizard #wizard [(clrWizardOpen)]="show" clrWizardSize="md" (clrWizardOnCancel)="cancel()">
  <clr-wizard-title>GAME SETTINGS</clr-wizard-title>

  <!-- Bottom Controls -->
  <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">Begin</clr-wizard-button>

  <!-- Number of Players -->
  <clr-wizard-page class="player-count-page">
    <ng-template clrPageTitle>
      PLAYERS
    </ng-template>
    <div>
      <span>What's the max # of players?</span>
    </div>
    <div class="row flex-items-xs-center setting-count-container">
      <clr-icon shape="users" size="96"></clr-icon>
      <h2 class="setting-count">{{gameSettings.maxPlayers}}</h2>
    </div>
    <input [(ngModel)]="gameSettings.maxPlayers" type="range" min="3" max="8" step="1">
  </clr-wizard-page>

  <!-- Scoring -->
  <clr-wizard-page class="scoring-page">
    <ng-template clrPageTitle>SCORING</ng-template>
    <div>
      <span>How many points to win?</span>
    </div>
    <div class="row flex-items-xs-center setting-count-container">
      <clr-icon shape="heart" size="96"></clr-icon>
      <h2 class="setting-count">{{gameSettings.pointsToWin}}</h2>
    </div>
    <input [(ngModel)]="gameSettings.pointsToWin" type="range" min="1" max="10" step="1">
  </clr-wizard-page>

  <!-- Reverse Round Frequency -->
  <clr-wizard-page class="special-round-page">
    <ng-template clrPageTitle>REVERSE ROUNDS</ng-template>
    <div>
      <span>How often should there be reverse rounds?</span>
    </div>
    <div class="row flex-items-xs-center setting-count-container">
      <div>
        <clr-icon shape="repeat" size="96"></clr-icon>
      </div>
    </div>
    <input [(ngModel)]="gameSettings.reverseRoundFrequency" type="range" min="0" max="0.5" step="0.25">
    <h3 *ngIf="gameSettings.reverseRoundFrequency === 0" class="value-description">NEVER</h3>
    <h3 *ngIf="gameSettings.reverseRoundFrequency === 0.25" class="value-description">OCCASIONALLY</h3>
    <h3 *ngIf="gameSettings.reverseRoundFrequency === 0.5" class="value-description">HALF N' HALF</h3>
  </clr-wizard-page>

  <!-- Round Timer -->
  <clr-wizard-page class="round-timer-page">
    <ng-template clrPageTitle>ROUND TIMER</ng-template>
    <div>
      <span>How long should players have to submit?</span>
    </div>
    <div class="row flex-items-xs-center setting-count-container">
      <div>
        <clr-icon shape="clock" size="96"></clr-icon>
      </div>
    </div>
    <div class="row flex-items-xs-center">
      <div class="btn-group">
        <div class="radio btn">
          <input [(ngModel)]="gameSettings.roundTimer" type="radio" [value]="0" name="btn-group-limit-radios"
            id="limit-radio-0">
          <label for="limit-radio-0">NO LIMIT</label>
        </div>
        <div class="radio btn">
          <input [(ngModel)]="gameSettings.roundTimer" type="radio" [value]="30" name="btn-group-limit-radios"
            id="limit-radio-30">
          <label for="limit-radio-30">30 SEC</label>
        </div>
        <div class="radio btn">
          <input [(ngModel)]="gameSettings.roundTimer" type="radio" [value]="60" name="btn-group-limit-radios"
            id="limit-radio-60">
          <label for="limit-radio-60">60 SEC</label>
        </div>
      </div>
    </div>
  </clr-wizard-page>

  <!-- Safe For Work -->
  <clr-wizard-page (clrWizardPageOnCommit)="createGame()" class="sfw-page">
    <ng-template clrPageTitle>SFW</ng-template>
    <div>
      <span>Should the game be safe for work?</span>
    </div>
    <div class="setting-count-container">
      <div class="row flex-items-xs-center">
        <clr-icon shape="briefcase" size="96" [ngClass]="{'is-solid': gameSettings.sfw}"></clr-icon>
      </div>
      <div class="row flex-items-xs-center">
        <div class="btn-group">
          <div class="radio btn">
            <input [(ngModel)]="gameSettings.sfw" type="radio" [value]="true" name="btn-group-sfw-radios"
              id="btn-radio-yes">
            <label for="btn-radio-yes">YES</label>
          </div>
          <div class="radio btn">
            <input [(ngModel)]="gameSettings.sfw" type="radio" [value]="false" name="btn-group-sfw-radios"
              id="btn-radio-no">
            <label for="btn-radio-no">NO</label>
          </div>
        </div>
      </div>
    </div>
  </clr-wizard-page>
</clr-wizard>