@import '../../../variables';

.chat {
  background-color: lighten($color: $dark-gray, $amount: 60%);
  height: 100%;
  color: $dark-gray;
}

.messages {
  padding: 16px;

  p {
    display: inline-block;
    background: lighten($color: $dark-gray, $amount: 40%);
    padding: 6px;
    border-radius: .25rem;
    margin-left: 4px;
    color: white;
    max-width: 235px;
  }

  .current-user-message {
    background: #1dbc9c;
    color: white;
  }
}

.send-btn {
  margin-top: 8px;
}

.user-photo {
  img {
    display: inline-block;
    height: 40px;
    border-radius: 100px;
    border: 2px solid $accent-color;
  }
}