<div class="chat">
  <div class="messages">
    <div *ngFor="let message of messages">
      <div class="user-photo">
        <img *ngIf="message.photoURL" [src]="message.photoURL" [alt]="message.username">
        <p class="message-content" [ngClass]="{'current-user-message': message.userUID === currentUser.uid}">{{message.content}}</p>
      </div>
    </div>
  </div>
  <textarea [value]="messageContent" (input)="messageContent = $event.target.value;" (keyup.enter)="send()" class="form-control message"
    placeholder="Message..." class="message-textarea"></textarea>
</div>