@import '../../../../variables';

.option-container {
  margin: 20px auto 30px auto;

  h3 {
    font-family: $impact;
    text-align: center;
    color: $white-color;

    .tag {
      color: $accent-color;
    }
  }
}

.gif-option {
  margin: auto;
  height: 200px;
  width: auto;
  display: block;
  cursor: pointer;
  padding: 0;

  &:hover {
    border: 2px solid $accent-color;
  }
}

.gif-buttons {
  .btn {
    margin: 8px 16px;
  }
}