<header class="header">
  <div class="branding">
    <div>
      <img src="assets/header_logo_thumb.png" alt="logo">
    </div>
    <h1 class="memer-title">MEMER</h1>
  </div>
  <div class="header-actions">
    <clr-dropdown>
      <button class="nav-icon" clrDropdownTrigger>
        <clr-icon shape="cog"></clr-icon>
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <a (click)="changeTheme()" clrDropdownItem>{{isLightTheme ? 'DARK THEME' : 'LIGHT THEME'}}</a>
        <a routerLink="/" clrDropdownItem>LEAVE GAME</a>
        <a (click)="logout()" clrDropdownItem>LOG OUT</a>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
</header>