@import '../../../variables';

.meme {
  background: black;

  .meme-caption {
    text-align: center;
    font-family: $impact;
    color: $white-color;
    padding: 10px 0;
    min-height: 55px;
  }
}