@import '../../../variables';

.meme {
  background: black;

  .meme-caption {
    text-align: center;
    font-family: $impact;
    color: $white-color;
    padding: 10px 15px;
    min-height: 55px;
  }

  .meme-image {
    min-width: 300px;
    display: block;
    margin: auto;
  }
}