@import '../../../../../../variables';

.search-label {
  position: relative;

  .search-icon {
    position: absolute;
    bottom: 0;
  }

  .searchbar-input {
    width: 100%;
    padding: 0 0 0 32px;
    height: 30px;
    font-size: 16px;
  }
}

.preview-img {
  margin: 5px;
  border: 2px solid $accent-color;
  transition: all .2s linear;
  cursor: pointer;
}

.preview-img:hover {
  transform: scale(1.1);
  border: 2px solid $primary-color;
}
