@import '../../../../../../variables';

.search-label {
  position: relative;

  .search-icon {
    position: absolute;
    top: -2px;
  }

  .searchbar-input {
    width: 100%;
    padding: 0 0 0 32px;
    height: 30px;
    font-size: 16px;
  }

}

:host ::ng-deep .search-label .clr-control-container {
  width: 100%;
}

.preview-img {
  margin: 5px;
  border: 2px solid $accent-color;
  transition: all .2s linear;
  cursor: pointer;
  transform: scale(.9);
}

.preview-img:hover {
  transform: scale(1.2);
  border: 2px solid $primary-color;
  z-index: 100;
}

.dark-theme {
  .searchbar-input, .search-icon {
    color: $white-color;
  }
}
