<!-- Setup Wizard -->
<memer-game-setup id="game-setup" *ngIf="showGameSetup" [user]="user" [show]="showGameSetup"
  (cancelled)="showGameSetup = false" (createdGame)="onGameCreated($event)"></memer-game-setup>

<div class="clr-row flex-items-xs-between top-indicators">
  <!-- Online Players Counter -->
  <memer-online-player-count></memer-online-player-count>

  <!-- SFW Toggle -->
  <div class="toggle-switch">
    <input [(ngModel)]="sfw" (ngModelChange)="sfwModeChanged()" type="checkbox" id="safe-for-work">
    <label for="safe-for-work">Show only safe for work games:</label>
  </div>

</div>

<div class="home">
  <div class="clr-row clr-justify-content-xs-center">
    <div class="col-xs-12">
      <img class="logo" src="assets/logo2.png" alt="logo">
      <img id="giphy-logo" src="assets/Poweredby_100px-Black_VertLogo.png" alt="Powered By Giphy">
    </div>
    <div class="login-group col-xs-12 clr-row clr-justify-content-xs-center">
      <div class="col-xs-12 col-sm-10 col-md-6 col-lg-4">
        <div *ngIf="!games?.length" class="col-xs-12">
          <button (click)="findOpenGames()"
            class="find-game btn btn-primary btn-outline btn-block sign-in-btn text-center">FIND GAME</button>
        </div>
        <div class="col-xs-12">
          <button (click)="hostGame()" class="host-game btn btn-primary btn-outline btn-block sign-in-btn text-center">
            HOST NEW GAME
          </button>
        </div>
        <div class="col-xs-12">
          <button (click)="logout()" class="btn btn-link btn-block sign-in-btn text-center">LOG OUT</button>
        </div>
      </div>
    </div>
  </div>

  <!-- OPEN GAMES -->
  <div *ngIf="showOpenGames" class="clr-row clr-justify-content-xs-center">
    <div class="col-xs-12">
      <div class="col-xs-12 clr-row clr-justify-content-xs-center">
        <span *ngIf="isLoading" class="spinner spinner-inverse">
          Loading...
        </span>
      </div>
    </div>

    <!-- No Games Indicator -->
    <div *ngIf="!isLoading && !games?.length" class="col-xs-12">
      <div class="col-xs-12 clr-row clr-justify-content-xs-center">
        <span class="p6 games-message">
          There are no games open right now. Try hosting a
          <a (click)="hostGame()">NEW GAME</a>
        </span>
      </div>
    </div>

    <!-- Available Games -->
    <div class="col-xs-12 col-md-6 col-xl-4">
      <div *ngFor="let game of games" class="card col-xs-12">
        <div class="clr-row game-listing">
          <div class="col-xs-8">
            <div class="game-details clr-row">
              <img [src]="game.hostPhotoURL" class="host-img" alt="Host Photo">
              <div>
                <div class="p6 open-game-timestamp">
                  Started {{game.beginDate|fromFBDate|amTimeAgo}}
                </div>
                <div class="p8 game-indicator" *ngIf="game.safeForWork">
                  Safe For Work
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-4 col-xs clr-justify-content-xs-center">
            <button (click)="joinGame(game.id)" class="btn btn-link join-btn">JOIN</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>