@import '../../../variables';

.sfw {
  margin-top: 10px;
}

.home {
  margin-top: 80px;

  .logo {
    display: block;
    margin: auto;
  }

  .host-img {
    border-radius: 100px;
    border: 2px solid $accent-color;
    display: inline-block;
    height: 60px;
    width: 60px;
    margin-left: 10px;
  }

  .open-game-timestamp {
    margin-left: 12px;
    color: $dark-gray;
  }

  .game-indicator {
    margin-top: 8px;
    margin-left: 12px;
    color: $accent-color;
  }

  .game-details {
    padding: 4px 0;
  }

  .games-message {
    color: $white-color;
    font-style: italic;
    a {
      font-style: normal;
      color: $primary-color;
      cursor: pointer;
    }
  }
}

.join-btn:hover {
  color: $accent-color;
  transition: $quick-transition;
}

label {
  color: $white-color;
}

#giphy-logo {
  display: block;
  margin: 10px auto;
}
