@import '../../../../../variables';
@import '../../../../../mixins';

.meme {
  background: black;
  border: 4px solid $primary-color;
  transition: all .2s linear;

  &:hover {
    @include contrast_element(120%); 
    border: 4px solid $accent-color;
  }

  .meme-caption {
    text-align: center;
    color: $white-color;
    padding: 10px 15px;
    min-height: 70px;
    margin: 0 auto;
  }

  .meme-image {
    min-width: 300px;
    display: block;
    margin: auto;
  }
}