$white: #fff;

h1 {
  text-align: center;
  color: $white;
  font-size: 100px;
  margin-top: 60px;
}

p {
  text-align: center;
  color: darken($white, 40%);
}

img {
  display: block;
  margin: 60px auto;
}
