<form clrForm [formGroup]="form" (ngSubmit)="onSave()">
  <div class="clr-row">
    <clr-input-container>
      <label for="description" class="required">Category</label>
      <input clrInput formControlName="description" type="text" id="description" size="30">
      <clr-control-error *ngIf="form.controls.description.errors?.maxlength">Category is too long</clr-control-error>
      <clr-control-error *ngIf="form.controls.description.errors?.required">This is required</clr-control-error>
    </clr-input-container>
  </div>
  <div class="btn-group btn-outline-primary form-actions">
    <button (click)="onCancel()" type="button" class="btn">CANCEL</button>
    <button [disabled]="!form.valid" type="submit" class="btn btn-primary">SAVE</button>
  </div>
</form>