.wrapper {
    position: absolute;
    min-height: 100vh;
    width: 100%;
  }
  
  [class|="confetti"] {
    position: absolute;
  }
  
  $colors: (#E94A3F, #FAA040, #17BC9E);
  
  @for $i from 0 through 150 {
    $w: random(8);
    $l: random(100);
    .confetti-#{$i} {
      width: #{$w*4}px;
      height:#{$w*2}px;
      background-color: nth($colors, random(3));
      top: -10%;
      left: unquote($l+"%");
      opacity: random() + 0.5;
      transform: rotate(#{random()*360}deg);
      animation: drop-#{$i} unquote(4+random()+"s") unquote(random()+"s") infinite;
      z-index: 10000;
    }
  
    @keyframes drop-#{$i} {
      100% {
        top: 110%;
        left: unquote($l+random(15)+"%");
      }
    }
  }