<div class="login">
  <div class="clr-row clr-justify-content-xs-center">
    <div class="clr-col-12">
      <img class="logo" src="assets/logo2.png" alt="logo">
    </div>
    <div class="login-group clr-col-12 clr-row clr-justify-content-center">
      <div class="clr-col-12 clr-col-md-6 clr-col-lg-4 clr-col-xl-3">
        <button (click)="facebookLogin()" class="btn btn-primary btn-outline btn-block sign-in-btn text-center">
          <i class="fa fa-facebook"></i>
          <span>Sign In With Facebook</span>
          <span></span>
        </button>
        <button (click)="googleLogin()" class="btn btn-danger-outline btn-block sign-in-btn text-center">
          <i class="fa fa-google"></i>
          <span>Sign In With Google</span>
          <span></span>
        </button>
      </div>
    </div>
  </div>
</div>