<div class="login-wrapper">
  <marquee>Hi Trump im a 12 Years old italian boy and i heard you want to nuke europe and i just wanted to say that i dont want to die at the age of 12 cause o did nothing wrong and i dont deserve it,there are MILLIONS of other people that have killed and mare Crimes and im just innocent and
    i want to have a future i dont want to leave everything behind and die -I hope you answer soon</marquee>
<div class="card mx-auto" style="width: 18rem;">
  <!--Will use imgur api at some point to grab a random image from their meme subgallery -->
  <img class="card-img-top rounded-circle" src="https://i.imgur.com/rbXZcVH.jpg" alt="Michael Cera Stare">
  <div class="card-body text-center">
    <button (click)="login()" class="btn btn-primary sign-in-btn text-center"><i class="fa fa-facebook"></i>&nbsp;&nbsp;Sign In With Facebook</button>
  </div>
</div>
<div class="container">
  <p class="neon-lights">MEMER</p>
  <blockquote class="blockquote container text-center">
    <p class="mb-0">Make memes with your friend!11!! </p>
    <footer class="blockquote-footer">Someone famous on <cite title="Source Title">The Internet</cite></footer>
  </blockquote>
</div>
</div>

