@import '../../../../variables';

.hand {
  padding: 0 8px;

  .player-card {
    font-family: $impact;
    height: 10rem;
    margin: 0 8px 8px 8px;
    font-size: 1.2em;
  }
}

.player-hand-container {
  margin-top: 24px;
}