@import '../../../../variables';
@import '../../../../mixins';

// .pending-selection {
//     @include grayscale_element(100%);    
// }

.player-img {
  border-radius: 100px;
  border: 4px solid $accent-color;
  display: block;
  height: 100px;
  margin: 8px auto;
  transition: all .2s linear;
}

.player-img:hover {
  transform: scale(1.1);
  border: 4px solid $primary-color;
}

.player-details {
  color: $dark-gray;
  text-align: center;
  font-size: 0.8rem;
}

.player-score {
  font-size: 0.5rem;
}

.remove-player-button {
  cursor: pointer;
  margin-left: 4px;
}

.modal-title {
  font-family: $impact;
  color: $primary-color;
}

.modal-body p{
  font-family: $secondary-font;
}