@import '../../../../../variables';

.wrapper {
  display: flex;
  align-items: stretch;
}


.dark-theme {
  p, .round-icon {
    color: $white-color;
  }
}


.text-indicator h1,
.text-indicator h2,
.text-indicator h3,
.text-indicator h4,
.text-indicator h5 {
  font-family: $impact;
  margin: 20px auto 30px auto;
  color: $primary-color;
  text-align: center;
}

.waiting-indicator {
  margin-top: 72px;
  color: $primary-color;
  text-align: center;
}

.new-game-waiting {
  margin-bottom: 24px;
}

.spinner {
  display: block;
  margin: auto;
}

.round-description {
  text-align: center;

  .round-type {
    color: $accent-color;
  }
}

.selected-gif {
  margin: 20px 0 30px 0;

  h3, h2, h1 {
    color: $accent-color;
    font-family: $impact;
    text-align: center;
  }

  img {
    height: 200px;
    width: auto;
    display: block;
    padding: 0;
    margin: auto;
  }
}

.meme-container {
  margin: auto;
}

.voting-indicator {
  text-align: center;
}

.username {
  color: $accent-color;
  .dark-theme {
    color:  $white-color;
  }
}

.player-submission {
  margin: 30px 15px;
  cursor: pointer;
}

:host ::ng-deep .nav-content {
  flex-direction: column-reverse;
}

#chat {
  order: inherit;

}

#chat.dark-theme {
  background: darken($color: $dark-gray, $amount: 10%);
  transition: $theme-transition;
}

.clr-vertical-nav {
  width: 12rem;
}

.modal-title {
  font-family: $impact;
  color: $primary-color;

  .winner-name {
    color: $accent-color;
  }
}

.main-container {
  transition: $theme-transition;
  background: $white-color;
}

.main-container.dark-theme {
  transition: $theme-transition;
  background: $dark-gray;
}

.winner-header {
  text-align: center;
  font-size: 36px;
}
