<memer-confetti *ngIf="gameState?.winner && canShowModal"></memer-confetti>
<!-- Header -->
<memer-header></memer-header>

<div [ngClass]="{'dark-theme': isDarkTheme}" class="main-container">
  <div class="content-container">
    <div *ngIf="game$|async as game" [ngClass]="{'dark-theme': isDarkTheme}" class="content-area">
      <div *ngIf="players$|async as players">

        <!-- Player images and scores -->
        <div>
          <memer-player-list [turn]="game?.turn" [players]="players" [hostId]="game.hostId"
            [isHost]="game.hostId === currentUser.uid" (playerRemoval)="removePlayer($event)"
            [pointsToWin]="pointsToWin"></memer-player-list>
        </div>

        <!-- Button for Host to start the game -->
        <div *ngIf="!game?.hasStarted">
          <h2 class="text-indicator waiting-indicator">WAITING FOR OTHER PLAYERS</h2>
          <div class="row">
            <div class="col-sm-6 offset-sm-3">
              <button *ngIf="game.hostId === currentUser.uid && !game?.hasStarted" (click)="beginGame()"
                [disabled]="(players|activePlayers)?.length < 2" class="btn btn-outline-info btn-block">START
                GAME</button>
              <span *ngIf="currentUser?.id !== game.hostId && !game?.hasStarted" class="spinner spinner-lg">
                Waiting...
              </span>
            </div>
          </div>
        </div>

        <!-- Voting label -->
        <h3 *ngIf="game?.isVotingRound && !game?.winner" class="voting-indicator">
          <span class="username">{{game.turnUsername | uppercase}}
            <span [ngClass]="{'dark-theme': isDarkTheme}">IS VOTING</span>
          </span>
        </h3>

        <div *ngIf="game?.isVotingRound && !!game?.winner && !canShowModal" class="voting-indicator">
          <h3 class="username animated fadeInLeft">{{game.winner.username | uppercase}}
            <span [ngClass]="{'dark-theme': isDarkTheme}">WON THE GAME</span>
          </h3>
          <p class="animated fadeInRight new-game-waiting">WAITING FOR HOST TO START A NEW GAME</p>
        </div>

        <!-- Button to begin when it's your turn -->
        <div *ngIf="game?.hasStarted" class="row">
          <div *ngIf="isCurrentUsersTurn" class="text-indicator col-xs-12 col-sm-8 col-md-6 offset-sm-2 offset-md-3">
            <h2 *ngIf="!game.tagOptions.length && !game.memeTemplate" class="animated pulse infinite">
              <span class="username">{{currentUser.username | uppercase}}</span>
              IT'S YOUR TURN!
            </h2>

            <!-- Standard Round -->
            <div *ngIf="isStandardRound">
              <h2 *ngIf="game.tagOptions.length && !game.tagSelection" class="animated pulse infinite">SELECT A TAG</h2>
            </div>

            <!-- Reverse Round -->
            <div *ngIf="isReverseRound && !game.memeTemplate" class="round-description">
              <clr-icon class="round-icon animated rotateIn" shape="repeat" size="72"></clr-icon>
              <h3 class="round-type">REVERSE ROUND!</h3>
              <p>SELECT A CARD FROM YOUR HAND AND LET OTHER PLAYERS FIND THE RIGHT GIF</p>
            </div>

            <button *ngIf="!game.tagOptions.length && !isReverseRound" class="btn btn-outline-primary btn-block"
              (click)="beginTurn()">START</button>
            <button *ngIf="game.winner && isHost && !canShowModal" class="btn btn-outline-primary btn-block"
              (click)="resetGame()">
              NEW GAME
            </button>
          </div>
          <div *ngIf="!isCurrentUsersTurn && !game.tagSelection && !game.memeTemplate"
            class="text-indicator col-xs-12 col-sm-8 col-md-6 offset-sm-2 offset-md-3">
            <div *ngIf="game.turnUsername.toUpperCase()[game.turnUsername.length - 1] === 'S'">
              <h2>
                <span class="username">{{game.turnUsername | uppercase}}'</span>
                TURN
              </h2>
            </div>
            <div *ngIf="game.turnUsername.toUpperCase()[game.turnUsername.length - 1] !== 'S'">
              <h2>
                <span class="username">{{game.turnUsername | uppercase}}'S</span>
                TURN
              </h2>
            </div>
          </div>
        </div>

        <!-- Standard Round -->
        <div *ngIf="isStandardRound" class="standard-round">

          <!-- Giphy Tags to choose from -->
          <div *ngIf="game?.tagOptions && !game.tagSelection">
            <memer-tag-selection [playerCanSelect]="isCurrentUsersTurn" [tags]="game.tagOptions"
              (tagSelect)="selectTag($event)"></memer-tag-selection>
          </div>

          <!-- Gif Options to choose from -->
          <div *ngIf="game?.gifOptionURLs && !game.memeTemplate">
            <memer-gif-options [playerCanSelect]="isCurrentUsersTurn" [usernameSelecting]="game.turnUsername"
              (optionSelect)="selectGif($event)" [options]="game.gifOptionURLs" [chosenTag]="game.tagSelection">
            </memer-gif-options>
          </div>

          <!-- Gif that judge has selected -->
          <div *ngIf="players|currentUser:currentUser.uid as player">
            <div *ngIf="game?.memeTemplate && !game.isVotingRound" class="selected-gif">
              <div class="row align-items-center">
                <div class="d-flex align-items-center flex-column meme-container">
                  <h2 *ngIf="!isCurrentUsersTurn && !player.memePlayed" class="animated pulse infinite">SUBMIT A
                    CAPTION</h2>
                  <h2 *ngIf="(isCurrentUsersTurn || (player.memePlayed && !game.roundWinner)) && !game.isVotingRound">
                    WAITING
                    FOR OTHER PLAYERS...</h2>
                  <div class="animated bounceIn">
                    <memer-meme [meme]="{ bottom: '????', photoURL: game.memeTemplate.photoURL }"></memer-meme>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Reverse Round -->
        <div *ngIf="isReverseRound" class="reverse-round">
          <div *ngIf="!isCurrentUsersTurn && !game.memeTemplate" class="round-description">
            <clr-icon class="round-icon animated rotateIn" shape="repeat" size="72"></clr-icon>
            <h3 class="round-type">REVERSE ROUND!</h3>
            <p>THIS ROUND, {{game.turnUsername | uppercase}} PICKS THE CAPTION AND YOU SUPPLY THE GIF</p>
          </div>

          <div *ngIf="players|currentUser:currentUser.uid as player">
            <div *ngIf="game?.memeTemplate && !game.isVotingRound" class="selected-gif">
              <div class="row align-items-center">
                <div class="d-flex align-items-center flex-column meme-container">
                  <h2 *ngIf="!isCurrentUsersTurn && !player.memePlayed" class="animated pulse infinite">SUBMIT A
                    GIF</h2>
                  <h2 *ngIf="(isCurrentUsersTurn || (player.memePlayed && !game.roundWinner)) && !game.isVotingRound">
                    WAITING
                    FOR OTHER PLAYERS...</h2>
                  <div class="animated bounceIn">
                    <memer-meme [meme]="game.memeTemplate"></memer-meme>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Memes submitted -->
        <div *ngIf="game?.memeTemplate && game.isVotingRound && !game.roundWinner" class="row flex-items-xs-center">
          <div *ngFor="let player of players|shuffle" class="flex-xs-bottom">
            <div *ngIf="game?.turn !== player.uid" class="player-submission">
              <memer-meme (click)="selectFavoriteCaption(player)" [meme]="player.memePlayed"></memer-meme>
            </div>
          </div>
        </div>

        <!-- Winning Meme -->
        <clr-modal [(clrModalOpen)]="game.roundWinner && canShowModal" *ngIf="game?.roundWinner"
          [clrModalClosable]="false">
          <h2 *ngIf="!game.winner" class="modal-title animated pulse infinite winner-header">
            <span class="winner-name">{{game.roundWinner.username | uppercase}} </span> WINS THE ROUND!
          </h2>
          <h2 *ngIf="game.winner" class="modal-title animated tada infinite winner-header">
            <span class="winner-name">{{game.roundWinner.username | uppercase}}</span> WINS THE GAME!
          </h2>
          <div class="modal-body">
            <div class="row flex-items-xs-center animated bounceIn">
              <memer-meme [meme]="game.roundWinner.memePlayed"></memer-meme>
            </div>
          </div>
          <div *ngIf="game.winner" class="modal-footer">
            <button (click)="canShowModal = false" class="btn btn-info-outline">CLOSE</button>
            <button *ngIf="isHost" (click)="resetGame()" class="btn btn-primary">NEW GAME</button>
          </div>
        </clr-modal>

        <!-- Hand of Caption Cards -->
        <div *ngIf="!isReverseRound || isCurrentUsersTurn">
          <div *ngIf="players|currentUser:currentUser.uid as player">
            <div *ngIf="cards$|async as cards">
              <memer-round-timer
                *ngIf="game.memeTemplate && !player.memePlayed && !isCurrentUsersTurn && game.timeLimit"
                (timerComplete)="selectCaption($event)" [limit]="game.timeLimit" [reverseRound]="false" [cards]="cards"
                [memeTemplate]="game.memeTemplate" [templateTimestamp]="game.memeTemplateTimeStamp">
              </memer-round-timer>
              <memer-player-hand *ngIf="!game.winner" [playerCanSelect]="playerCanSelect(player, game)"
                [playerHand]="cards" (cardSelect)="selectCaption($event)">
              </memer-player-hand>
            </div>
          </div>
        </div>

        <!-- Giphy Search for Reverse Round -->
        <div *ngIf="players|currentUser:currentUser.uid as player">
          <div *ngIf="isReverseRound && !isCurrentUsersTurn && game.memeTemplate">
            <memer-round-timer *ngIf="game.memeTemplate && !player.memePlayed && !isCurrentUsersTurn && game.timeLimit"
              (reverseTimerComplete)="playReverseRoundGif($event)" [limit]="game.timeLimit" [reverseRound]="true"
              [memeTemplate]="game.memeTemplate" [templateTimestamp]="game.memeTemplateTimeStamp">
            </memer-round-timer>
            <memer-giphy-search *ngIf="!player.memePlayed" (gifSelected)="playReverseRoundGif($event)">
            </memer-giphy-search>
          </div>
        </div>

      </div>
    </div>

    <!-- Chat -->
    <clr-vertical-nav #chat [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed" id="chat"
      [ngClass]="{'dark-theme': isDarkTheme}">
      <div *ngIf="!collapsed">
        <memer-chat [gameId]="gameId" class="chat-sidebar"></memer-chat>
      </div>
    </clr-vertical-nav>
  </div>
</div>