@import '../../../../../variables';

.wrapper {
  display: flex;
  align-items: stretch;
}

.text-indicator h1,
.text-indicator h2,
.text-indicator h3,
.text-indicator h4,
.text-indicator h5 {
  font-family: $impact;
  margin: 20px auto 30px auto;
  color: $primary-color;
  text-align: center;
}

.waiting-indicator {
  margin-top: 72px;
  color: $primary-color;
  text-align: center;
}

.spinner {
  display: block;
  margin: auto;
}

.selected-gif {
  margin: 20px 0 30px 0;

  h3, h2, h1 {
    color: $accent-color;
    font-family: $impact;
    text-align: center;
  }

  img {
    height: 200px;
    width: auto;
    display: block;
    padding: 0;
    margin: auto;
  }
}

.meme-container {
  margin: auto;
}

.voting-indicator {
  text-align: center;

  .username {
    color: $accent-color;
  }
}

.player-submission {
  margin: 30px 15px;
  cursor: pointer;
}

#chat {
  order: inherit;
}

#chat.dark-theme {
  background: darken($color: $dark-gray, $amount: 10%);
  transition: $theme-transition;
}

.clr-vertical-nav {
  width: 12rem;
}

.modal-title {
  font-family: $impact;
  color: $primary-color;

  .winner-name {
    color: $accent-color;
  }
}

.main-container {
  transition: $theme-transition;
  background: $white-color;
}

.main-container.dark-theme {
  transition: $theme-transition;
  background: $dark-gray;
}