<!-- Header -->
<memer-header></memer-header>

<!-- Player images and scores -->
<div *ngIf="game?.players.length">
  <memer-player-list [players]="game.players"></memer-player-list>
</div>

<!-- Giphy Tags to choose from -->
<div *ngIf="game?.tagOptions && !game.selectedTag">
  <memer-tag-selection [tags]="game.tagOptions" (onTagSelect)="selectTag($event)"></memer-tag-selection>
</div>

<!-- Gif Options to choose from -->
<div *ngIf="game?.gifOptionURLs && !game.gifSelectionURL">
  <memer-gif-options [optionUrls]="game.gifOptionURLs" (onOptionSelect)="selectGif($event)"></memer-gif-options>
</div>

<!-- Gif that judge has selected -->
<div *ngIf="game?.gifSelectionURL">
  <h5>Submit a caption for:</h5>
  <img class="ui centered bordered medium image" [src]="game.gifSelectionURL">
</div>

<!-- Button to begin when it's your turn -->
<div *ngIf="game?.hasStarted && game.turn === currentUser.uid && !game.tagOptions.length">
  <h5>It's your turn</h5>
  <button class="ui button" (click)="beginTurn()">Begin Turn</button>
</div>

<!-- Hand of Caption Cards -->
<div *ngIf="currentUser?.captions">
  <memer-player-hand [playerHand]="currentUser.captions" (onCardSelect)="selectCaption($event)"></memer-player-hand>
</div>

<!-- Button for Host to start the game -->
<button *ngIf="currentUser?.isHost && !game?.hasStarted" (click)="beginGame()">Start Game</button>