@import '../../../variables';

.turn-indicator {
  font-family: $impact;
  margin: 20px auto 30px auto;
  color: $accent-color;
  text-align: center;
}

.selected-gif {
  margin: 20px 0 30px 0;

  h3 {
    color: $accent-color;
    font-family: $impact;
    text-align: center;
  }

  img {
    height: 200px;
    width: auto;
    display: block;
    padding: 0;
    margin: auto;
  }
}

.meme-container {
  margin: auto;
}

.voting-indicator {
  text-align: center;
  font-family: $impact;
  color: $white-color;

  .username {
    color: $accent-color;
  }
}

.player-submission {
  margin-bottom: 30px;
}

.modal-header {
  background: $accent-color;
  border: 3px solid $white-color;
  h2, h3, h4 {
    display: block;
    width: 100%;
    text-align: center;
    color: $white-color;
    font-family: $impact;
  }
}

.modal-body {
  border: none;
  background: lighten($color: $primary-color, $amount: 20%);
  border: 3px solid $white-color;
  border-top: none;
}