@import '../../../variables';

.wrapper {
  display: flex;
  align-items: stretch;
}

.text-indicator {
  font-family: $impact;
  margin: 20px auto 30px auto;
  color: $primary-color;
  text-align: center;
}

.selected-gif {
  margin: 20px 0 30px 0;

  h3 {
    color: $accent-color;
    font-family: $impact;
    text-align: center;
  }

  img {
    height: 200px;
    width: auto;
    display: block;
    padding: 0;
    margin: auto;
  }
}

.meme-container {
  margin: auto;
}

.voting-indicator {
  text-align: center;

  .username {
    color: $accent-color;
  }
}

.player-submission {
  margin-bottom: 30px;
}

#chat {
  order: inherit;
}

.clr-vertical-nav {
  width: 12rem;
}

.clr-vertical-nav .nav-trigger+.nav-content {
  flex-direction: column-reverse !important;
}