<div class="clr-row clr-justify-content-start">
  <form clrForm [formGroup]="form" (ngSubmit)="onSave()" class="clr-col-12">
    <!-- Top Label -->
    <clr-input-container>
      <label class="clr-col-12 clr-col-md-2" for="top">Top</label>
      <input class="clr-col-12 clr-col-md-10" clrInput formControlName="top" type="text" id="top" size="30" />
      <clr-control-error *ngIf="form.controls.top.errors?.maxlength">
        Caption is too long
      </clr-control-error>
    </clr-input-container>

    <!-- Bottom Label -->
    <clr-input-container>
      <label class="clr-col-12 clr-col-md-2" for="bottom">Bottom</label>
      <input class="clr-col-12 clr-col-md-10" clrInput formControlName="bottom" type="text" id="bottom" size="30" />
      <clr-control-error *ngIf="form.controls.bottom.errors?.maxlength">
        Caption is too long
      </clr-control-error>
      <clr-control-error *ngIf="form.controls.bottom.errors?.required">
        Bottom caption is required
      </clr-control-error>
    </clr-input-container>

    <!-- Safe For Work -->
    <div class="checkbox">
      <clr-checkbox-wrapper>
        <input formControlName="safeForWork" clrCheckbox name="safeForWork" type="checkbox" id="safeForWork" />
        <label class="clr-col-12 clr-col-md-2" for="safeForWork">Safe For Work</label>
      </clr-checkbox-wrapper>
    </div>

    <!-- Controls -->
    <div class="btn-group btn-outline-primary">
      <button (click)="onCancel()" type="button" class="btn">CANCEL</button>
      <button [disabled]="!form.valid" type="submit" class="btn btn-primary">SAVE</button>
    </div>
  </form>
</div>