@import 'variables';

@mixin grayscale_element($value) {
  -webkit-filter: #{"grayscale(#{$value})"};
  -moz-filter: #{"grayscale(#{$value})"};
  filter:#{"grayscale(#{$value})"};
}

@mixin contrast_element($value) {
  -webkit-filter: #{"contrast(#{$value})"};
  -moz-filter: #{"contrast(#{$value})"};
  filter:#{"contrast(#{$value})"};
}

@mixin respond-to($media) {
  @media only screen and #{$media} {
      @content;
  }
}
