/* You can add global styles to this file, and also import other style files */
@import 'variables';

body {
  background-color: $dark-gray;
  font-family: $impact;
}

.impact {
  font-family: $impact;

  .white {
    color: $white-color;
  }
}