<div class="clr-row clr-justify-content-start">
  <form clrForm [formGroup]="form" class="clr-col-12">
    <!-- Top Label -->
    <clr-input-container>
      <label class="clr-col-12 clr-col-md-2" for="top">Top</label>
      <input class="clr-col-12 clr-col-md-10" clrInput formControlName="top" type="text" id="top" size="30" />
      <clr-control-error *ngIf="form.controls.top.errors?.maxlength">
        Caption is too long
      </clr-control-error>
    </clr-input-container>

    <!-- Bottom Label -->
    <clr-input-container>
      <label class="clr-col-12 clr-col-md-2" for="bottom">Bottom</label>
      <input class="clr-col-12 clr-col-md-10" clrInput formControlName="bottom" type="text" id="bottom" size="30" />
      <clr-control-error *ngIf="form.controls.bottom.errors?.maxlength">
        Caption is too long
      </clr-control-error>
      <clr-control-error *ngIf="form.controls.bottom.errors?.required">
        Bottom caption is required
      </clr-control-error>
    </clr-input-container>

    <!-- Safe For Work -->
    <div class="checkbox">
      <clr-checkbox-wrapper>
        <input formControlName="safeForWork" clrCheckbox name="safeForWork" type="checkbox" id="safeForWork" />
        <label for="safeForWork">Safe For Work</label>
      </clr-checkbox-wrapper>
    </div>

    <!-- Controls -->
    <div class="btn-group btn-outline-primary">
      <button class="btn btn-outline-danger" (click)="stageDelete()" type="button">DELETE</button>
      <button [disabled]="!form.valid" (click)="onSave()" type="submit" class="btn">UPDATE</button>
    </div>
  </form>
</div>

<!-- Delete Confirmation Modal -->
<clr-modal [(clrModalOpen)]="showDeleteConfirmation">
  <h3 class="modal-title">Delete Caption</h3>
  <div class="modal-body">
    <p>Are you sure you want to delete this caption?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="showDeleteConfirmation = false">CANCEL</button>
    <button type="button" class="btn btn-danger" (click)="onDelete()">DELETE</button>
  </div>
</clr-modal>