@import '../../../../../../variables';

.hand {
  padding: 0 8px;

  .player-card {
    font-family: $impact;
    height: 10rem;
    margin: 0 8px 8px 8px;
    font-size: 1.2em;
  }
}

.player-hand-container {
  margin-top: 24px;
}

.dark-theme {
  background: darken($color: $dark-gray, $amount: 5%);
  transition: $theme-transition;
  .card-title {
    color: $white-color;
    transition: $theme-transition;
  }
}

.card.clickable:hover {
  box-shadow: 0 0.125rem 0 0 $primary-color;
  border: 1px solid $primary-color;
}
