@import '../../../../../variables';

.chat {
  color: $dark-gray;
  font-family: $chat-font;
  padding: 8px;
}

.counter {
  color: lighten($color: $dark-gray, $amount: 40%);
  float:right; margin:0 3%;
  font-size: 0.5rem;
  font-family: $chat-font;
}

.message-textarea {
  margin-bottom: 60px;
}

.messages {
  margin-bottom: 24px;

  p {
    display: inline-block;
    background: lighten($color: $dark-gray, $amount: 40%);
    padding: 6px;
    border-radius: 2px;
    margin-left: 4px;
    color: white;
    max-width: 8.5rem;
    font-family: $chat-font;
    overflow-wrap: break-word;
  }

  .current-user-message {
    background: #1dbc9c;
    color: white;
  }
}

.user-photo {
  img {
    display: inline-block;
    height: 40px;
    border-radius: 100px;
    border: 2px solid $accent-color;
  }
}