<div *ngIf="options && options.length" class="container option-container row">

  <!-- If it's your turn -->
  <div *ngIf="playerCanSelect" class="col-xs-12">
    <h2>
      SELECT A GIF FOR
      <span class="tag">{{chosenTag | uppercase}}</span>
    </h2>

    <!-- Gif Options -->
    <div *ngFor="let option of options; index as i">
      <!-- Preload images -->
      <img [src]="option" class="preload-img-hidden">
      <img *ngIf="i === imageIndex" [src]="i === 4 ? wildcardImage : option" [alt]="'Option ' + i"
        (click)="selectOption(option)" class="col gif-option animated flipInY">
    </div>
  </div>

  <!-- Gif Options Controls -->
  <div *ngIf="playerCanSelect" class="col-xs-12 col-md-4 offset-md-4 row flex-items-xs-center">
    <button (click)="previous()" class="btn btn-outline-info gif-nav-btn">
      <clr-icon shape="caret" dir="left"></clr-icon>
      PREV
    </button>
    <button (click)="next()" class="btn btn-outline-info gif-nav-btn">
      NEXT
      <clr-icon shape="caret" dir="right"></clr-icon>
    </button>
  </div>

  <!-- If it's not your turn -->
  <div *ngIf="!playerCanSelect" class="col-xs-12 text-indicator">
    <h2>
      {{usernameSelecting | uppercase}} PICKED
      <span class="tag">{{chosenTag | uppercase}}</span>
    </h2>
    <h2 class="selecting" [ngClass]="{'dark': isDarkTheme}">{{selectingIndicator}}</h2>
  </div>
</div>