@import '../../../../../../variables';

.option-container {
  margin: 20px auto 30px auto;

  h2 {
    color: $primary-color;
    text-align: center;

    .tag {
      color: $accent-color;
    }
  }

  .selecting {
    color: $dark-gray;
  }

  .selecting.dark {
    color: $white-color;
  }
}

.gif-option {
  margin: auto;
  height: 200px;
  width: auto;
  display: block;
  cursor: pointer;
  padding: 0;
  border: 4px solid $accent-color;
  transition: all .2s linear;

  &:hover {
    border: 4px solid $primary-color;
  }
}

.gif-buttons {
  .btn {
    margin: 8px 16px;
    width: 60px;
  }
}

.text-indicator {
  text-align: center;
}